*{
    margin: 0; 
    padding: 0;
}

.cabecalho {
    background-color: #65F8A8; 
    color:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 24px;
    font-size: 70px;
}